/*
dddac7: (don't include the '#')
{{Color_1_Shade}}: 052347; (goto http://www.color-hex.com/color/dddac7 ; use the second Shade -- just needs to be a little bit darker.)
002a4e: (don't include the '#')
{{Color_2_Tint}}: #fff; (goto http://www.color-hex.com/color/002a4e ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
//www.csumb.edu/sites/all/themes/custom/steinbeck/img/logos/csumb-logo-blue.svg

https://colorid.github.io/cloudcard-custom-assets/Cal-state-monterey.css
      
*/

html {
  background: #dddac7;
}

.splash {
  background-color: #fff;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #fff;
  height:10.5em;
}

.logo {
  background: url('//www.csumb.edu/sites/all/themes/custom/steinbeck/img/logos/csumb-logo-blue.svg') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#002a4e;
}

.header-page .tabs li a {
  border-bottom-color:#002a4e;
  color: #fff;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #dddac7;
}

.header-page .buttons button {
  background-color: #dddac7;
  color: #fff;
}

.header-page button {
  background-color: #002a4e;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #fff;
  color: #dddac7;

  /* Alternative if the above doesn't look so great.
  background-color: #002a4e;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #dddac7;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #002a4e;
}

button:hover,
button:focus {
    background-color: #fff;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #dddac7;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: 052347;
}

.user-info {
    color: #002a4e;
}

.user-info a {
    color: #002a4e;
}

.user-info a:hover,
.user-info a:focus {
    color: #002a4e;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #002a4e;
}

.admin-links .fa {
    color: #002a4e; /*default #007bff*/
}

.admin-links a {
    background: #002a4e;
    color: #353535;
	font-weight: bold;
	
}

.admin-links a:hover,
.admin-links a:focus {
    background: #e8e8e8;
}

table th,
table td {
    background: #002a4e;
}

.footer {
    background: #002a4e;	
}


.sidebar-main,
.sidebar-mobile {
    background: #fff;
    color: #1a4980;
    border-right: 3px solid #dddac7;
    height: 100% !important;

    &.nav-open {
	background: #fff;
    }
	
}

.sidebar-main h2,
.sidebar-mobile h2 {
    color: #1a4980 !important;
}
/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
