/*

https://colorid.github.io/cloudcard-custom-assets/GWU-Cloudcard.css
*/

html {
  background: #004065;
}

.splash {
  background-color: #004065;
}

.splash .loading path {
  fill: #fffffe;
}

header.header-main {
  background-color: #fffffe;
  height:10.5em;
	border-bottom: 4px solid #c8b18b;
}

.logo {
  background: url('https://colorid.github.io/cloudcard-custom-assets/gw_monogram_logo.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#004065;
}

.header-page h1 {
    color: #c8b18b;
    padding-right: 0.73684em;
}

.header-page .filters select {
	    border: 1px solid #e3dccb;
}

.header-page .fa-search {
	color: #004065 !important;
	
}

.header-page .tabs li a {
  border-bottom-color:#004065;
  color: #c8b18b;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #ffeebb;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #e3dccb;;
}

.header-page .buttons button {
background-color: #004065;
  color: #fffffe;
	border: 1px solid #c8b18b;
}
.header-page .tabs a.active {
color: #575a5c;	
}
.header-page button {
  background-color: #004065;
  color: #fffffe;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #0096d6;
  color: #fffffe;

  /* Alternative if the above doesn't look so great.
  background-color: #69cbcc;
  color: #fff;
   */
}


.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #004065;
    color: #fffffe;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fffffe;
}

button {
    background-color: #004065;
}

button:hover,
button:focus {
    background-color: #0096d6;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #004065;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #0096d6;
}

.user-info {
    color: #fffffe;
}

.user-info a {
    color: #0096d6;
}

.user-info a:hover,
.user-info a:focus {
    color: #fffffe;
}

.open-nav {
    color: #fffffe;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fffffe;
}

.admin-links .fa {
    color: #c8b18b; /*default #007bff*/
}

.admin-links a {
     background: #e3dccb;
    color: #004065;
	font-weight: bold;
	
}

.admin-links a:hover,
.admin-links a:focus {
    background: #004065;
    color: #ffeebb;
}

table th {
	
	background: #e3dccb;
		color: #004065;
	text-transform: uppercase;
}

table td {
    background: #f0f0f0;
}
table a {
    color: #004065;
    text-decoration: underline;
}

.header-page .filters .filter:after {
	
	Color: #004065;
}
.footer {
      background: #004065;
  	
}


.sidebar-main,
.sidebar-mobile {
     background: #e3dccb;
    color: #fffffe;
    border-right: 3px solid #004065;
    height: 100% !important;

    &.nav-open {
	background: #004065;
    }
	
}

.sidebar-main h2,
.sidebar-mobile h2 {
    color: #004065 !important;
}

ul.photo-requirements {
	
	background-color:#e3dccb;
}



/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
