/*
https://colorid.github.io/cloudcard-custom-assets/sunlife.css   
*/

html {
  background: #ffffff ;
}

.splash {
  background-color: #ffffff ;
}

.splash .loading path {
  fill: #fff;

}

header.header-main {
  background-color: #fff;
  height:10.5em;
  border-bottom: 3px solid #004c6c;
}

.header-page h1 {
    color: #000;
}

.logo {
  background: url("https://colorid.github.io/cloudcard-custom-assets/sunlifeminilogo.png") top center no-repeat;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color: #f4f4f4;
}

.header-page .tabs li a {
  border-bottom-color: #004c6c;
  color: #004c6c;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #424242;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
	color: #000;
    border-bottom-color: #424242 ;
}

.header-page .buttons button {
  background-color: #004c6c;
  color: #ffffff;
}

.header-page button {
  background-color: #004c6c;
  color: #004c6c;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #004c6c;
  color: #fff;

  /* Alternative if the above doesn't look so great.
  background-color: #424242;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #004c6c;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

.header-page .filters select {
   
    background: #004c6c;
    border: 1px solid #fff;
    border-radius: .3125em;
    box-shadow: none;
    color: #fff;

}

button {
    background-color: #004c6c;
}

button:hover,
button:focus {
    background-color: #004c6c;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #004c6c;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #004c6c;
}

.user-info {
    color: #004c6c;
}

.user-info a {
    color: #424242;
}

.user-info a:hover,
.user-info a:focus {
    color: #424242;
}

.open-nav {
    color: #fff;
}

.open-nav:hover,
.open-nav:focus
{
    color: #424242;
}

.admin-links .fa {
    color: #424242; /*default #007bff*/
}


table td {
    background: #e6e6e6;
}

table th {
    background: #ffcb05;
}
.footer {
    background: #004c6c;
}

.admin-links a {
    background: #ffffff;
    color: #004c6c;
	font-weight: bold;
	
}

.admin-links a:hover,
.admin-links a:focus {
    background: #cccccc;
}

.sidebar-main,
.sidebar-mobile {
    background: #ffffff;
    color: #424242;
    border-right: 3px solid #004c6c;
    height: 100% !important;
}
    .nav-open {
		background: #ffffff;}
	


.sidebar-main h2,
.sidebar-mobile h2 {
    color: #424242 !important;
}

ul.photo-requirements {
	
	background-color:#ffffff;
}

.photo-requirements li i {
    color: #3400e0;
}


.current-photo--status.approved, .current-photo--status.pending.good {
    background-color: #13c545 !important;
    color: #fff;
}

.current-photo--status.denied, .current-photo--status.pending.bad {
    background-color: #9e3039;
	color: #fff;
}

.current-photo--status.incomplete, .current-photo--status.pending.maybe {
          background-color: #ffb500 !important;
    color: #111111;
}
.current-photo--status.pending.unclassified{
    background-color: #ffb500;
    color: #111;
}
router-view .buttons button {
    background-color: #424242;
    color: #fff;
}
router-view .buttons button:hover {
    background-color: #fff;
    color: #424242;
    
}
photo-list-section-header.good-photos {
    background: #6cc24a;
  
}
photo-list-section-header div a {
    color: #3d3d3d;
  
}


router-view .buttons button.primary, #accept-terms, button.submit-login {
    background-color: #333333; 
	color: #fff;
}

.header-page .search .fa-search {
	color: #3400e0;
}
/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
