/*
https://colorid.github.io/cloudcard-custom-assets/wvu_cloudcard.css      
*/

html {
  background: #ffffff;
}

.splash {
  background-color: #ffffff;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #002855;
	
  height:10.25em;
}

.logo {
  background: url('https://colorid.github.io/cloudcard-custom-assets/ITS_FL_124andWhite.png') top center no-repeat;
  display: inline-block;
  width: 225px;
  background-size: contain;
}

header.header-page {
  background-color:#fff;
}

a {
    color: #2C2A29;
  
 
}

a:hover {
    color: #2C2A29;
}

.photo-rows-container photo-row:nth-child(even) {
    background: #e8e8e8;
}

.header-page h1 {
    color: #2C2A29;
    padding-right: 0.73684em;
    text-transform:uppercase;
    font-size: 36px;
    letter-spacing: .5px;
    font-weight: 400;
}

empty-queue-message {
    background: #ffffff;
}
.header-page .filters select {
	    border: 1px solid #333F48;
	    color: #2C2A29;
	    background-color: transparent;
	    text-transform:uppercase;
}

.header-page .fa-search {
	color: #EAAA00 !important;
	
	
}


.header-page .tabs li a {
  border-bottom-color: transparent;
  color: #2C2A29;
  font-weight: 600;
  letter-spacing: .5px;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #2C2A29;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #EAAA00;
}

.header-page .buttons button {
  background-color: #002855;
  color: #fff;
  border: 1px solid #333F48;
}
.header-page .tabs a.active {color: #333F48;font-weight: 600;letter-spacing: .5px;}
.header-page button {
  background-color: #2C2A29;
  color: #2C2A29;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #333F48;
  color: #fff;

  /* Alternative if the above doesn't look so great.
  background-color: #c05131;
  color: #fff;
   */
}


.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: transparent;
    color: #333333;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #EAAA00;
    border: 2px solid #BFB8AF;
}


button:hover,
button:focus {
    background-color: #2C2A29;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #EAAA00;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #EAAA00;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #EAAA00;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #EAAA00; /*default #007bff*/
}

.admin-links a {
    background: #d8d8d7;
    color: #2C2A29;
    text-transform:uppercase;
    letter-spacing: .5px;
    font-weight: 600;
}

.admin-links a:hover,
.admin-links a:focus {
    background: #d8d8d7;
    color: #002855;
}

table th {
	background: #333F48;
    color: #fff;
  
    font-weight: 600;
    letter-spacing: .75px;
    border-bottom: 1px solid #BFB8AF;
}

table td {
    background: #f2f2f2;
}
table a {
    color: #2C2A29;
    text-decoration: underline;
}

table a:hover {
    color: #333333;
    text-decoration: none;
}

photo-list-header.photo-list-columns {
    background: #333F48;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5px;
    border-bottom: 1px solid #BFB8AF;
}

.header-page .filters .filter:after {
	
	Color: #2C2A29;
}
.footer {
      background: #333F48;
    border-top: 1px solid #BFB8AF;	
}


.sidebar-main,
.sidebar-mobile {
    background: #d8d8d7;
    color: #2C2A29;
    border-right: 2px solid #BFB8AF;
    height: 100% !important;
}
   .nav-open {
    background: #d8d8d7;
    }


.sidebar-main
    h2,
.sidebar-mobile h2 {
    color: #2C2A29 !important;

    font-weight: 500;
}


    ul.photo-requirements {
	
	background-color: #D8D8D7;
}
/*
 .hide-on-mobile-small {
    display: none;
}
.hide-on-mobile-small {
    display: none;
}
*/
/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
